.my-trip-section {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 8rem;
}

.my-trip-section .trip-list-item {
  position: relative;
  grid-column: 1/2;
}

.my-trip-section .trip-list-item .trip-card {
  width: 84%;
}

.buttons-box {
  position: absolute;
  top: 0.9rem;
  right: -13rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.btn-delete,
.btn-update {
  height: 5rem;
  width: 15rem;
  color: #0b1703;
  backdrop-filter: blur(1rem);
  background: none;
  background-color: #6fe31d;
  border-radius: 7px;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover,
.btn-update:hover {
  background-color: #48527a;
  color: #fff;
}

.update-trip-details {
  position: relative;
  margin: 9rem 30rem;
}

.update-description-box {
  resize: none;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  padding: 1.6rem;
  height: 20rem;
  border-radius: 7px;
  background: none;
  color: #fff;
  backdrop-filter: blur(1rem);
}

.update-buttons {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5rem;
}

.options {
  cursor: pointer;
  background-color: #48527a;
  height: 4.5rem;
  width: 14rem;
  border-radius: 7px;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  color: #fff;
  transition: all 0.3s;
}

.options:hover,
.options:active {
  background-color: #6fe31d;
  color: #0b1703;
}

.save-changes-btn {
  position: absolute;
  bottom: -10rem;
  left: -26rem;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  background-color: #6fe31d;
  color: #0b1703;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.save-changes-btn:hover,
.save-changes-btn:active {
  background-color: #48527a;
  color: #fff;
}

.update-trip-details .right-arrow-icon {
  position: absolute;
  top: 41%;
  right: -2.5rem;
}

.day-num {
  position: absolute;
  top: -37px;
  left: 1px;
  color: #6fe31d;
  font-size: 3rem;
}

@media (max-width: 44em) {
  .update-trip-details {
    margin: 8rem 15rem;
  }
  .save-changes-btn {
    left: -10rem;
  }
  .update-trip-details .right-arrow-icon {
    right: -0.1rem;
  }
}

@media (max-width: 40em) {
  .my-trip-section {
    grid-template-columns: 1fr;
    margin-top: 8rem;
  }

  .my-trip-section .trip-list-item {
    margin-bottom: 8rem;
  }

  .my-trip-section .trip-list-item .trip-card {
    width: auto;
  }

  .my-trip-section .trip-list-item .trip-card .trip-card-details {
    width: 100%;
  }

  .buttons-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 23rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 0;
    justify-content: space-around;
  }

  .btn-delete,
  .btn-update {
    height: 4rem;
    width: 13rem;
  }
}

.share-trip-cta {
  grid-column: 1/-1;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

/* .share-trip-cta:hover {
  transform: translateY(-5px);
} */

.cta-text {
  color: #0f3d03;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #0f3d03;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #6fe31d;
}

@media (max-width: 34em) {
  .update-trip-details {
    margin: 8rem 10rem;
  }
  .save-changes-btn {
    left: -8rem;
  }
  .save-changes-btn {
    padding: 1rem 1rem;
  }
  .options {
    height: 3.5rem;
    width: 12rem;
    font-size: 1.6rem;
  }

  .share-trip-cta {
    grid-column: 1/-1;
    margin: auto 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
  }
}

@media (max-width: 26em) {
  .update-trip-details {
    margin: 8rem 5rem;
  }

  .update-trip-details .right-arrow-icon .arrow-icon {
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0px 0.1px 1px 2px #6fe31d;
  }

  .update-trip-details .right-arrow-icon {
    right: 2.2rem;
  }
  .my-trip-section .trip-list-item .trip-card .trip-interactions {
    bottom: -9.7px;
    right: 1.5rem;
  }
  .btn-delete,
  .btn-update {
    height: 3rem;
    width: 9rem;
  }

  .save-changes-btn {
    left: -4rem;
    bottom: -13rem;
  }
}

@media (max-width: 24em) {
  .my-trip-section .trip-list-item .trip-card {
    position: relative;
    width: 80%;
    margin: 0 3.6rem 8rem 3.6rem;
  }

  .update-trip-details .right-arrow-icon {
    right: 0.9rem;
  }
}
